{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free_read</title>
</head>

<body>

{% block content %}
    <h1>Free_read</h1>
    <hr>
    {% for free_board in free_board %}
        <h3><a href="{% url 'free_detail' free_board.id %}">{{ free_board.title }}</a></h3>
        <p>{{ free_board.pub_date }}</p>
        <p>{{ free_board.body }}</p>
    {% endfor %}
    <a href="{% url 'free_create' %}">글 작성하기</a>

    <form class="form-inline my-2 my-lg-0" action="{% url 'free_search' %}" method="post">
            {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


    {% comment %} {% if free_board %} <!-- 음음.. -->
        {% for free_board in free_board %}
            <h3><a href="{% url 'free_detail' free_board.id %}">{{ free_board.title }}</a></h3>
            <p>{{ free_board.pub_date }}</p>
            <p>{{ free_board.body }}</p>
            {% endfor %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'free_search' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> 

    
        {% else %}              <!-- 게시글 쿼리셋이 존재하지 않을 때 -->
            {% if q %}          <!-- 검색어가 있어 q가 context로 넘어오면 검색결과가 없음 -->
            <tr class="text-center">
                <td colspan="5">
                    일치하는 검색 결과가 없습니다.
                </td>
            </tr>
            {% else %}          <!-- q가 없으면 검색어가 아니며 게시글이 존재하지 않으므로 게시글 미작성 -->
            <tr class="text-center">
                <td colspan="5">
                    작성된 게시글이 없습니다.
                </td>
            </tr>
            {% endif %}
        {% endif %}

    <a href="{% url 'free_create' %}">글 작성하기</a> {% endcomment %}
{% endblock %}



{% comment %} {% if is_paginated %} <!--페이지 네이션이 적용된 경우라면-->
<ul class="pagination">
    {% if page_obj.has_previous %}  <!--이전 페이지가 있는지 확인-->
    <li class="page-item">
        <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" 
            tabindex="-1">이전</a>  <!--이전 페이지로 이동-->
    </li>
    {% else %}  <!--이전 페이지가 없다면-->
    <li class="page-item disabled"> 
        <a class="page-link" href="#" tabindex="-1">이전</a>  <!--비활성화된 상태로 이전 페이지로 이동하는 링크-->
    </li>
    {% endif %}

    {% for page in page_range %}  <!--페이지 범위를 순회-->
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>  <!--각 페이지 번호에 해당하는 링크를 생성-->
    </li>
    {% endfor %}

    {% if page_obj.has_next %}  <!--다음 페이지가 있는지 확인-->
    <li class="page-item">
        <a class="page-link"
            href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">다음</a> <!--다음 페이지로 이동하는 링크-->
    </li>
    {% else %}  <!--다음 페이지가 없다면-->
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>  <!--비활성화된 상태로 다음 페이지를 나타내는 리스트 아이템 생성-->
    </li>
    {% endif %}
</ul>
{% endif %} {% endcomment %}


</body>
</html>